* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    background-image: url('images/41675.jpg');
    background-repeat: repeat;
    font-size: 16px;
    font-family: "Playfair Display", "Garamond", "Times", serif;
}

input {
    border-style: groove;
    border-radius: 5px;
    border-style: groove;
    border-width: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

button {
    background-color: goldenrod;
    border-style: groove;
    border-radius: 5px;
    border-style: groove;
    border-width: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
}

.hidden {
    display: none;
}

li {
    list-style-type: none;
}

.img-full {
    max-width: 100%;
}

.img-thumb {
    width: 100%;
}

.r-back {
    width: 100%;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

header {
    text-align: center;
}

header h1 {
    font-size: 200%;
    color: white;
}

header h3 {
    color: white;
}

header h4 {
    color: white;
}

header ul {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-between;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

main {
    text-align: center;
}

main h4 {
    color: white;
}

main h3 {
    color: white;
}

ul.tips {
    background-image: url("images/transparency-white.png");
    width: 100%;
    border: 1px groove silver;
    border-style: outset;
    border-width: 2px;
}

.search {
    background-image: url("images/transparency-white.png");
    width: 100%;
    border-radius: 0.5rem;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px groove silver;
    border-style: outset;
    border-width: 2px;
}

.favorites h5 {
    color: white;
}

ul.favorites-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul.favorites-list li.focus-fave {
    background-image: url("images/transparency-white.png");
    border-radius: 0.5rem;
    width: 99%;
    padding: 10px;
    margin: 2px;
    border: 1px groove silver;
    border-style: outset;
    border-width: 2px;
}

ul#results-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: block;
}

ul#results-list li.list-item {
    background-image: url("images/transparency-white.png");
    border-radius: 0.5rem;
    width: 99%;
    display: inline-block;
    padding: 10px;
    border: 1px groove gold;
    border-style: outset;
    border-width: 2px;
    vertical-align: top;
}

ul#results-list li.list-item h3 {
    color: black;
}

form#reset {
    margin: 10px;
    height: 30px;
}

section.error h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Media query for smaller screens*/

/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer a {
    color: white;
    text-decoration: none;
    background-image: url("images/transparent.jpg");
}

a.credit {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

/*iPhone portrait*/

@media only screen and (min-width: 320px) {
    /* body {
        border: 3px solid purple;
    } */
    ul.favorites-list li.focus-fave {
        width: 48%;
    }
    ul#results-list li.list-item {
        width: 49%;
    }
}

/*iPhone landscape*/

@media only screen and (min-width: 480px) {
    /* body {
        border: 3px solid green;
    } */
    ul.favorites-list li.focus-fave {
        width: 32%;
    }
    ul#results-list li.list-item {
        width: 32%;
    }
}

/*Android landscape*/

@media only screen and (min-width: 640px) {
    /* body {
        border: 3px solid pink;
    } */
    ul.favorites-list li.focus-fave {
        width: 22%;
    }
    ul#results-list li.list-item {
        width: 24%;
    }
}

/*iPad potrait*/

@media only screen and (min-width: 768px) {
    /* body {
        border: 3px solid red;
    } */
    ul.favorites-list li.focus-fave {
        width: 19%;
    }
    ul#results-list li.list-item {
        width: 19%;
    }
}

/*iPad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {
    /* body {
        border: 3px solid blue;
    } */
}

/*large desktop*/

@media only screen and (min-width: 1600px) {
    /* body {
        border: 3px solid yellow;
    } */
}

